.videoWrapper {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
    font-weight: normal;
}

@media (max-width: 768px) {
    .title {
        font-size: 28px;
    }

    .content {
        padding: 15px;
    }

    .text {
        font-size: 18px;
    }

    .videoWrapper iframe {
        height: 250px;
    }
}
