.videoWrapper {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
    font-weight: normal;
    line-height: 1.5;

    @media (max-width: 700px) {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .videoWrapper iframe {
        height: 250px;
    }
}
