.wrapper {
  max-width: 1000px;
  margin: 0 30px;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  position: relative;
  z-index: 3;

  // Улучшенная, более выразительная тень
  box-shadow: 0 12px 30px rgba(255, 97, 40, 0.7),
  0 8px 20px rgba(255, 97, 40, 0.5),
  0 4px 12px rgba(255, 97, 40, 0.3);
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: rgb(255, 97, 40);
    bottom: -10px;
    left: 0;
  }
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.intro {
  font-size: 20px;
  color: #333;
  line-height: 1.7;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
}

.mainText {
  font-size: 20px;
  color: #333;
  line-height: 1.7;
  margin-bottom: 20px;
  font-weight: bold;
}

.paymentInfo {
  font-size: 20px;
  color: #333;
  line-height: 1.7;
  margin-bottom: 20px;
  font-weight: 400;
}

.paymentMethods {
  list-style-type: none;
  padding-left: 20px;
  font-size: 18px;
  color: #444;
  margin-bottom: 25px;
  margin-top: 15px;

  li {
    margin-bottom: 12px;
    position: relative;

    &::before {
      content: '-';
      margin-right: 8px;
      color: #444;
    }
  }

  li:first-child a {
    color: rgb(255, 97, 40);
    text-decoration: none;
    font-weight: 600;
  }
}

.paymentMethods li a:hover {
  text-decoration: underline;
}

.contactInfo {
  font-size: 20px;
  color: #333;
  line-height: 1.7;
  margin-bottom: 20px;
}

.closing {
  font-size: 20px;
  color: #333;
  line-height: 1.7;
  margin-bottom: 20px;
  text-align: right;
}

.emailLink {
  color: black; // Черный цвет по умолчанию
  text-decoration: none; // Убираем подчеркивание
  transition: color 0.3s ease; // Плавное изменение цвета

  &:hover {
    color: orange; // Оранжевый при наведении
  }
}

.phoneNumbers {
  font-size: 20px;
  color: #333;
  line-height: 1.7;
  margin-bottom: 35px;

  a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 600;

    &:hover {
      color: rgb(255, 97, 40);
    }
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .content {
    padding: 15px;
  }

  .intro,
  .mainText,
  .paymentInfo,
  .contactInfo,
  .closing {
    font-size: 18px;
  }
}
