.intro {
    font-size: 20px;
    color: #333;
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
}

.mainText {
    font-size: 20px;
    color: #333;
    line-height: 1.7;
    margin-bottom: 20px;
    font-weight: bold;
}

.paymentInfo {
    margin-bottom: 20px;
}
.paymentInfoText {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    line-height: 1.7;
    font-weight: 400;
}

.paymentMethods {
    list-style-type: none;
    padding-left: 20px;
    font-size: 20px;
    color: #444;
}
.paymentMethod {
    margin-bottom: 15px;
    position: relative;

    &::before {
        content: '-';
        margin-right: 8px;
        color: #444;
    }
}

.paymentLink {
    color: rgb(255, 97, 40);
    text-decoration: none;
    font-weight: 600;

    &:hover {
        color: #333;
        text-decoration: underline;
    }
}

.contactInfo {
    margin-bottom: 20px;
}

.contactText {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    line-height: 1.7;
}

.closing {
    font-size: 20px;
    color: #333;
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: right;
}

.emailLink {
    color: rgb(255, 97, 40);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #333;
    }
}

.phoneNumbers {
    margin-bottom: 35px;
}

.phoneText {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    line-height: 1.7;
}
.phoneLink {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 20px;
    color: rgb(255, 97, 40);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 600;

    &:hover {
        color: #333;
    }
}
