.documentList {
    list-style-type: none;
    padding: 0;
    .documentLink {
        font-size: 18px;
        color: #333;
        text-decoration: none;
        padding: 10px;
        display: block;
        transition: color 0.3s ease;
        position: relative;
        border-bottom: 2px solid transparent;
        text-align: justify;
        line-height: 1.5;

        &:hover {
            color: rgb(255, 97, 40);
            border-bottom: 2px solid rgb(255, 97, 40);
        }
        @media (max-width: 700px) {
            font-size: 16px;
            padding: 8px;
        }
    }
}

