.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
    position: relative;
    padding-left: 12px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 3px;
        background-color: rgb(255, 97, 40);
    }
}

.text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.partnerInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.link,
.addressLink,
.phone {
    color: rgb(255, 97, 40);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
        color: #333;
        text-decoration: underline;
    }
}

.logoContainer {
    flex-shrink: 0;
    width: 400px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: auto;
    object-fit: contain;
}
