.subtitle {
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.error {
    font-size: 14px;
    color: #dc3545;
    text-align: center;
    margin-top: -10px;
    font-weight: 500;
}

.buttonGroup {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.skipButton {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgb(255, 97, 40);
    border-radius: 12px;
    background: white;
    color: rgb(255, 97, 40);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    opacity: 0.5;
    flex: 1;

    &:not(:disabled) {
        opacity: 1;
    }

    &:hover:not(:disabled) {
        background-color: darken(white, 10%);
    }
}

.saveButton,
.editButton {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(255, 97, 40);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    flex: 1;

    &:hover {
        background-color: darken(rgb(255, 97, 40), 15%);
    }


    &:disabled {
        background: #ccc;
        box-shadow: none;
        cursor: not-allowed;
    }
}

.adminButton {
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: linear-gradient(135deg, #ff5722 0%, #d81b60 100%);
    color: white;
    margin-left: 10px;
}

@media (max-width: 700px) {
    .settingsWrapper {
        padding: 15px;
    }

    .formContainer {
        padding: 25px;
        max-width: 100%;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 14px;
    }

    .input {
        padding: 12px 12px 12px 36px;
        font-size: 14px;
    }

    .saveButton,
    .skipButton {
        padding: 12px;
        font-size: 14px;
    }
}